*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


/* General Styling */
html{
    
    font-family: 'Quicksand', sans-serif;
    color:  #f5f0f0;
    background: #272525;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body{
    background-color: #272525;
    background-size: cover;
}

section{
    margin: 0;
    padding: 15%;
    justify-content: center;
    height: 100vh;
}

.section__title{
    justify-content: center;

}



/* header{
    background-color: #42f08d;
    height: 30px;
}
.nav-div{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header .nav-div nav a{
    color: #272525;
    text-decoration: none;
    justify-content: space-between;
    padding: 10px;
}
.logo img{
    max-width: 10%; 
}
.flex{
    display: flex;
} */





/* navbar */
#navbar{
    overflow:hidden;
    background-color: #42f08d;
}

#navbar a{
    float: left;
    display: block;
    color: #272525;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #272525;
    color: #42f08d;
  }
/* Page content */
.content {
    padding: 0;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }







/* Intro page */
#intro-div{
    margin-top: 4em;
}



/* strong{
    display: inline-block;  
} */

.intro{
    background-image: url(./img/front-img.jpg);
}

#myname{
    display:inline-block;
}

#my_work_title{
    padding: 100px;
}



/* My Work */
.my-work{
    background-image: url(./img/bg-img.jpg);
    margin: 0%;

}

.my-works{
    display: flex;
    flex-direction: row;
}




/* About Me */
.aboutme{
    background-image: url(./img/abtme-img.jpg);
    margin: 0%;

}

#myself{
    float: right;
    max-block-size: 10em;
    margin-right: 5%;
}












/* Connect With Me */
.handles a{
    text-decoration: none;
    color: #42f08d;
}