*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


/* General Styling */
html{
    
    font-family: 'Quicksand', sans-serif;
    color:  #f5f0f0;
    background: #272525;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body{
    background-color: #272525;
    background-size: cover;
}

section{
    margin: 0;
    padding: 12%;
    justify-content: center;
    /* height: 100vh; */
}

.section__title{
    justify-content: center;

}





/* navbar */
#navbar{
    overflow:hidden;
    background-color: #ffd000;
    color: #272525;
}

#navbar a{
    float: left;
    display: block;
    color: #272525;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #272525;
    color: #ffd000;
  }
  
  #navbar a.active {
    background-color: #272525;
    color: #ffd000;
  }
/* Page content */
.content {
    padding: 0;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }







/* Intro page */
#intro-div{
    margin-top: 4em;
    border-color: #f5f0f0;
}

#home {
    height: 100vh;
}

.intro{
    background-image: url(./img/intro.png);
    background-position: center;
    background-size: cover;
}

#myname{
    display:inline-block;
}

#name-div{
    border-color: #f5f0f0;
}



/* My Work */
#my_work_title{
    padding: 70px;
    border-radius: 1em;
    border-width: 1px;
}

.my-work{
    background-image: url(./img/bg-img.jpg);
    margin: 0%;
    background-position: center;
    background-size: cover;

}

.my-works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-div {
    margin-right: 3%;
    width: 30%;
    background-image: url(./img/work-bg.jpg);
    opacity: 0.9;
    background-size: cover;
    border: #272525;
    border-width: 1em;
    border-radius: 5%;
}

.work-div p {
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.section__title--my-work{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    border: #f5f0f0;
    border-width: 1px;

}

.workid{
    text-align: center;
    color: #272525;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.work-text{
    color: #363333;
    font-weight: 300;
    
}




/* About Me */
.aboutme{
    background-image: url(./img/abtme-img.jpg);
    margin: 0%;
    background-position: center;
    background-size: cover;

}

#myself{
    float: right;
    max-block-size: 10em;
    margin-right: 5%;
}

/* .section__title--aboutme{    
} */

#about-me-box-main{
    background:url(./img/aboutme-div.jpg);
    background-position: center;
    background-size: cover;
    padding: 1em;
    border-radius: 7%;
}

.aboutme-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.section__title--aboutme{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    border: #f5f0f0;
    border-width: 1px;
}

.section__subtitle--aboutme{
    font-weight: 600;
}







/* Connect With Me */
.handles a{
    text-decoration: none;
    color: #ffd000;
    border:#363333;
    }

.section__title--connect{
    text-align:start;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    border: #f5f0f0;
    border-width: 1px;
}

.folder{
        border: #ffd000;
}

.handles{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 40%;
    
}






@media screen and (max-width: 850px) {
    .work-div {
        width: 40%;
        margin-right: 5%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .work-div {
        width: 80%;
        /* margin-right: 5%; */
        margin-bottom: 20px;
    }
}